#root {
   max-width: 100%;
   min-height: 100vh;
   margin: 0px;
   padding: 0px;
   text-align: center;
   background-color: #040a1c;
   color: #cccccc;
}

.box {
   -webkit-box-shadow: 0px 10px 39px 10px rgba(0, 0, 0, 0.32);
   -moz-box-shadow: 0px 10px 39px 10px rgba(0, 0, 0, 0.32);
   box-shadow: 0px 10px 39px 10px rgba(0, 0, 0, 0.32);
}
